footer {
  width: 100vw;
  height: 8.5vw;
  margin-top: 5.8vw;
  padding-top: 1.7vw;
  color: #2E606F;
  font-size: 0.73vw;
  font-weight: 300;
  line-height: 1.5;
  background-color: White;
}

footer a {
  text-decoration: None;
  color: #2E606F;
}

.row {
  display: Flex;
  flex-direction: Row;
  justify-content: Center;
  gap: 3.75vw;
}

.row:last-child {
  margin-top: 0.7vw;
  font-size: 0.6vw;
  gap: 24vw;
}

.row:last-child img {
  width: 6.15vw;
  height: Auto;
}

.col:first-child {
  width: 16.2vw;
}

.col:last-child {
  width: 7.4vw;
  text-align: Center;
}

.col .title {
  font-weight: 400;
}

.col .contact {
  text-decoration: Underline;
  margin-top: 1vw;
  font-weight: 400;
}

.col .contact:hover {
  cursor: Pointer;
}

.social-media {
  margin-top: 0.7vw;
  display: Flex;
  flex-direction: Row;
  justify-content: Space-Between;
  align-items: Center;
}

.social-media img {
  width: 1.48vw;
  height: Auto;
}

@media screen and (max-width: 1024px) {
  footer {
	height: 20vw;
	margin-top: 14.6vw;
	padding: 4vw 4.8vw;
	font-size: 1.7vw;
  }
  
  .row {
	justify-content: Space-Between;
  }
  
  .row:last-child {
    margin-top: 1.7vw;
    font-size: 1.5vw;
  }
  
  .row:last-child img {
    width: 13.3vw;
  }
  
  .col:first-child {
    width: 30.4vw;
  }
  
  .col:last-child {
    width: 17.3vw;
  }
  
  .social-media img {
    width: 3.5vw;
  }
}

@media screen and (max-width: 512px) {
  footer {
	height: 93vw;
	margin-top: 125.2vw;
	font-size: 3.6vw;
  }
  
  .row {
	flex-direction: Column;
  }
  
  .row:last-child {
	margin-top: 2vw;
	font-size: 3vw;
	gap: 3vw;
  }
  
  .row:last-child img {
    width: 30vw;
  }
  
  .col:first-child {
    width: 63.4vw;
  }
  
  .col:last-child {
	width: 36.1vw;
	margin-top: 7.6vw;
    text-align: Left;
  }
  
  .col .contact {
	margin-top: -11vw;
	margin-left: 40.7vw;
  }
  
  .social-media {
    margin-top: 2.3vw;
  }
  
  .social-media img {
    width: 7.2vw;
  }
}